@page "/docs"

<!--===============================
=            Job lists            =
================================-->
<section class="job-list section pt-0">
	<div class="container">
		<div class="row">
			<div class="col-12 col-lg-10 m-auto">
				<div class="block">
					<div class="title text-center">
						<h2>Документы</h2>
					</div>
					<DocumentsList />
				</div>
			</div>
		</div>
	</div>
</section>
<!--====  End of Job lists  ====-->